<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/issdonaresange</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            root
        </property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>


        <mapping resource="Donator.hbm.xml"/>
        <mapping resource="Cont.hbm.xml"/>
        <mapping resource="Analiza.hbm.xml"/>
        <mapping resource="Boala.hbm.xml"/>
        <mapping resource="PersonalTransfuzii.hbm.xml"/>
        <mapping resource="Cerere.hbm.xml"/>
        <mapping resource="Medic.hbm.xml"/>
        <mapping resource="Pacient.hbm.xml"/>
        <mapping resource="PreparatSanguin.hbm.xml"/>
        <mapping resource="Spital.hbm.xml"/>

    </session-factory>
</hibernate-configuration>